.div-of-mataverse{

}

.start-building-btn-b{
    background-color: purple;
    color: white;
    border-radius: 5px;
    height: 3rem;
    width: 10em;
}
.metavers-bg {
    background-image: url('../assets/imgs/metaversebgimg.png'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    padding: 50px 0; /* Adjust padding as needed */
    margin-top: 8rem;

}